<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ProvidersConnectionString" value="saykorMongoConnectionString" />
    <add key="MONGOLAB_URI" value="mongodb://127.0.0.1/lunarbase" />
    <add key="GameTheme" value="Default" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <pages theme="Default" />
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <membership defaultProvider="MongoMembershipProvider" userIsOnlineTimeWindow="30">
      <providers>
        <clear />
        <!--<add connectionStringName="saykorMSSqlConnectionString" name="SaykorMSSqlMembershipProvider" type="Saykor.Providers.MSSql.SaykorMSSqlMembershipProvider" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" />-->
        <add name="MongoMembershipProvider" type="Saykor.Providers.MongoDB.MongoMembershipProvider" applicationName="/" appSettingsConnectionStringKey="MONGOLAB_URI" collection="Users" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider" cacheRolesInCookie="true" cookieName=".SaykorRolesCookie" cookieTimeout="30" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <!--<add connectionStringName="saykorMSSqlConnectionString" name="SaykorMSSqlRoleProvider" type="Saykor.Providers.MSSql.SaykorMSSqlRoleProvider" />-->
        <add name="MongoRoleProvider" type="Saykor.Providers.MongoDB.MongoRoleProvider" applicationName="/" connectionString="mongodb://127.0.0.1" database="lunarbase" collection="Roles" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" name=".Saykor_ASPXAUTH" protection="All" timeout="43200" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataGetBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="binaryEncoding">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <services>
      <service name="LunarBase.WebApp.WebServices.AuthorizationService" behaviorConfiguration="metadataGetBehavior">
        <endpoint address="ajax" behaviorConfiguration="AjaxBehavior"
            binding="webHttpBinding" contract="LunarBase.WebApp.WebServices.AuthorizationService" />
        <endpoint address="binary"
                  binding="customBinding" bindingConfiguration="binaryEncoding"
                  contract="LunarBase.WebApp.WebServices.AuthorizationService" />
      </service>
      <service name="LunarBase.WebApp.WebServices.GameService" behaviorConfiguration="metadataGetBehavior">
        <endpoint address="ajax" behaviorConfiguration="AjaxBehavior"
            binding="webHttpBinding" contract="LunarBase.WebApp.WebServices.GameService" />
        <endpoint address="binary"
                  binding="customBinding" bindingConfiguration="binaryEncoding"
                  contract="LunarBase.WebApp.WebServices.GameService" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
